*{
    
}

.head__container{
    display: flex;
    flex-direction: column;
    width: 100rem;
    height: 50rem;
    overflow: hidden;
    background-image: url("./back.jpg") ;
    background-image: no-repeat;
    
}

.head-text{
    font-size: 15px;
    color: white;
    text-align: center;
}
.head-qoute{
    color: white;
    font-size: 20px;
}

